body {
    width: 100%;
}

/*////////////// HEADER ////////////////*/

header {
    min-width: 220px;
    height: 100vh;
    border-right: 1px solid rgb(255, 255, 255);
    box-shadow: 5px -2px 30px rgb(235, 235, 235);
    padding: 50px 10px 0 10px;
    position: fixed;
}

.block {
    min-width: 220px;
}

.div1 a {
    font-family: 'Norican', cursive;
    font-size: 2.6em;
}

nav a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}

nav img {
    width: 40px;
    height: 40px;
}

.avatar_header {
    border-radius: 20px;
}

/*////////////// INDEX ////////////////*/

.index_display {
    width: 100%;
    padding: 5%;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery div {
    width: 300px;
    height: 300px;
    /* flex-grow: 1; */
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px -2px 30px rgb(235, 235, 235);
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*////////////// PROFIL ////////////////*/

.profil_display {
    width: 100%;
    padding: 5%;
}

.profil_name {
    font-size: 3em;
}

.top_left {
    width: 35%;
}

.profil_avatar {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px -2px 30px rgb(235, 235, 235);
    width: 35%;
}

.profil_avatar img {
    width: 100%;
}

.top_right {
    width: 35%;
}

.profil_description {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px -2px 30px rgb(213, 213, 213);
    width: 100%;
}

/*////////////// IMAGE ////////////////*/

.img_display {
    width: 100%;
    padding: 5%;
}

.img_display section:nth-child(1) {
    width: 58%;
}

.img_display section:nth-child(2) {
    width: 38%;
}

.img_display section:nth-child(1) article img {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px -2px 30px rgb(235, 235, 235);
}

.stat1 p:nth-child(1), .stat2 p:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
}

.stat1 p:nth-child(2), .stat2 p:nth-child(2) {
    font-style: italic;
}

.avatar_image {
    width: 100px;
    height: 100px;
    min-width: 100px;
}

.name_image {
    font-size: 2em;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
}

date_image {
    font-style: italic;
    height: 100px;
    line-height: 110px;
}

.avatar_comment, .avatar_image {
    width: 50px;
}

.avatar_comment img,
.avatar_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.comment {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px -2px 30px rgb(235, 235, 235);
    /* background-color: rgb(225, 225, 225); */
}

.avatar_comment {
    width: 50px;
    height: 50px;
}

.name_comment {
    font-size: 1.2em;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}

.date_comment {
    font-size: 0.8em;
    font-style: italic;
    height: 50px;
    line-height: 53px;
}

.link {
    color: black;
    text-decoration: none;
}

.comment_form textarea {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px -2px 30px rgb(213, 213, 213);
}

.comment_form button, .modify_button {
    width: 150px;
}


.login {

    margin-left: 500px;
}



/*////////////// LOGIN ////////////////*/


.parent {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,219,224,1) 150%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 3 / 3 / 7 / 5;
    margin-top: 0px;
    text-align: center;
    border-radius: 5%;
    padding: 0px 0px 0px 0px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,219,224,1) 150%);
    float:left;
    padding:2px;
    border:1px solid #ffffff;}

h1 {
    font-family: 'Norican', cursive;
}


.div1 img {
    width: 30%;
    margin-bottom: 10px;
}

.signin {
    margin-bottom: 20px;
}

input {
    width:300px;
}



/*////////////// SIGN ////////////////*/


.parent2 {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,219,224,1) 150%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.divsignin {
    grid-area: 3 / 3 / 7 / 5;
    margin-top: 150px;
    text-align: center;
    border-radius: 5%;
    padding: 0px 0px 0px 0px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,219,224,1) 150%);
    float:left;
    border:1px solid #ffffff;
    padding: 90px;
}

.divsignin h1{
    margin-bottom: 50px;
}

.submit2 {
    margin-top: 50px;

}
