
/* NAVBAR */

nav img {
    width: 25px;
    margin: 10px;
}

nav a {
    text-decoration: none;
}



/* Placer la fil d'actualité dans la div 9 
(faire un foreach avec une fonction 
afin d'afficher toutes les données dans la base de données) */

/* GALLERY INDEX */

.gallery {
    
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 1vmin;
    padding: 0 14px;
    flex-wrap: wrap;
}

.gallery div {
    height: 250px;
    flex-grow: 1;
    list-style-type: none;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}